/**
 * @file
 * Generic base styles for adsense module.
 */

/**
 * Placeholder.
 */
.adsense-placeholder {
  border: solid 1px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
}

/**
 * Ad.
 */
.adsense {
  display: inline-block;
}
